.nav {
  padding: 10px 27px;
}

.header_background {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 345px;

  background-image: url('../../img/HeaderBackground.svg');
  
}

.title {
  font-weight: 900;
  font-size: 102px;
}

